<div class="container">
  <div class="calculator" >
    <div class="calculator__display">{{expression}}</div>

    <div class="calculator__keys"  >
      <button class="key--operator" [disabled]="disablebButton" (click)="addOperation('+')">+</button>
      <button class="key--operator" [disabled]="disablebButton" (click)="addOperation('-')">-</button>
      <button class="key--operator" [disabled]="disablebButton" (click)="addOperation('*')">*</button>
      <button class="key--operator" [disabled]="disablebButton" (click)="addOperation('/')">/</button>
      <button [disabled]="disablebButton" (click)="addNumber('7')">7</button>
      <button [disabled]="disablebButton" (click)="addNumber('8')">8</button>
      <button [disabled]="disablebButton" (click)="addNumber('9')">9</button>
      <button [disabled]="disablebButton" (click)="addNumber('4')">4</button>
      <button [disabled]="disablebButton" (click)="addNumber('5')">5</button>
      <button [disabled]="disablebButton" (click)="addNumber('6')">6</button>
      <button [disabled]="disablebButton" (click)="addNumber('1')">1</button>
      <button [disabled]="disablebButton" (click)="addNumber('2')">2</button>
      <button [disabled]="disablebButton" (click)="addNumber('3')">3</button>
      <button [disabled]="disablebButton" (click)="addNumber('0')">0</button>
      <button [disabled]="disablebButton" (click)="addNumber('.')">.</button>
      <button (click)="clear()">C</button>
      <button [disabled]="disablebButton" class="key--equal" (click)="calculate()" >=</button>
    </div>
  </div>
</div>